<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingan.Mapper.ProductPriceMapper">
    <select id="selectByProducId" parameterType="String" resultType="com.pingan.Object.ProductPrice">
        select * from `product_price` where product_id = #{id}
    </select>
</mapper>
