<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingan.Mapper.UserMapper">
    <select id="findPage" resultType="com.pingan.Object.User">
        SELECT
        *
        FROM
        `user_login` LEFT join `user_detail`
        on
        user_detail.user_id = user_login.user_id
        ${ew.customSqlSegment}

        <!--<where>

        -->
        <!--${ew.SqlSegment} -->
        <!--</where>-->
    </select>

    <select id="downAll" resultType="com.pingan.Object.User">
        SELECT
        *
        FROM
        `user_login` LEFT join `user_detail`
        on
        user_detail.user_id = user_login.user_id
    </select>

    <select id="downByIds" resultType="com.pingan.Object.User">
        SELECT
        *
        FROM
        `user_login` LEFT JOIN `user_detail`
        ON
        user_detail.user_id = user_login.user_id

        WHERE

        FIND_IN_SET(user_login.user_id,${userIds})


        <!--user_login.user_id in (${userIds})-->



    </select>

</mapper>
